/*Aprendiendo a importar clases*/
/*Mientras el contenido de $ sea menor o igual a through */
h1 {
  font: size 16px; }

h2 {
  font: size 32px; }

h3 {
  font: size 48px; }

h4 {
  font: size 64px; }

h5 {
  font: size 80px; }

h6 {
  font: size 96px; }

/*a la variable i se le asigna el valor 1 con from y con thorugh lre decimos hasta dnd puede llegar ese valor, pq si lo supera todo vuelve a comenzar*/
#algunos-modelos .tarjetas1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../biciHome/imagen1.jpg);
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px blue; }

#algunos-modelos .tarjetas2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../biciHome/imagen2.jpg);
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px blue; }

#algunos-modelos .tarjetas3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../biciHome/imagen3.jpg);
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px blue; }

.estilo-nosotros {
  background-image: url(../imgPortadas/PuestaDeSol.webp);
  background-position: center center;
  background-size: cover; }

div .estilo-nosotros p {
  font-size: 20px;
  padding-top: 100px;
  color: cornsilk;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

button {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #190bdf; }

.paddingMain {
  padding-top: 200px; }

/*Aprendiendo a anidar Lista*/
header {
  background-color: whitesmoke; }
  header div nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px; }
    header div nav a {
      padding: 5px 12px;
      text-decoration: none;
      font-weight: bold;
      color: black;
      font-size: 25px; }
    header div nav a:hover {
      color: blue; }
