/* *{
    
    
    box-sizing: border-box;
} */

html{
    scroll-behavior: smooth;/*Scroll Lento hacia abajo*/
}

body{
    font-family:sans-serif;
    margin: 0;
}
.fondoBebes{
    background-color: cornflowerblue;
}
/* FLEX TARJETAS HOME */
.container .flexcontainer{
    display: flex;
    flex-wrap: wrap;
}
/* FLEX TARJETAS BICICLETAS */
#algunos-modelos .flexcontainer{
    display: flex;
    flex-wrap: wrap;
}



h1{font-size: 60px;}
h2{font-size: 40px;}
h3{font-size: 30px;}
p{font-size: 25px;}
ul{list-style: none;}
li{font-size: 26px;}
.color-resaltado{color: blue;}

button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(25, 11, 223);
}
button:hover{
    background-color: rgb(77, 73, 129);
}
.container-header{
    max-width: 1400px;
    margin: auto;
}

/* .color-acento{color:blueviolet;} DESPUES VEO Q HAGO*/

header{
    background-color: rgb(245, 245, 245);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:blue;
    font-size: 35px;
}
header .container-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

.baner h1{
    font-size: 65px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 25px;
}
header a:hover{
    color:blue;
}
.baneralgunos-modelos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../imgPortadas/acsenso.webp); 
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center; */
}   /* fondo negro imagen  */

.banerbicicletas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../biciHome/salto.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center; */
}   /* fondo negro imagen  */

.banerdescenso{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../imgPortadas/descenso.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center; */
}   /* fondo negro imagen  */


.baner h1{
    color: white;
}

.baner button{
    font-size: 30px;
}

.somos-befreebikes .container{
    text-align: center;
    padding: 150px 12px;
}

#algunos-modelos .container{
    background-color: rgba(30,30,30);
    color: white;
    text-align: center;
}

#algunos-modelos .container{
    padding: 100px 12px;
}

#algunos-modelos h2{
    margin-top: 0;
    font-size: 55px;
}

#algunos-modelos p{
    color: white;    
}


/* COMIENZO Tarjetas INDEX*/
#algunos-modelos .tarjetas1{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../biciHome/imagen1.jpg);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px blue;
}
#algunos-modelos .tarjetas2{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../biciHome/imagen2.jpg); 
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px blue;
}
#algunos-modelos .tarjetas3{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../biciHome/imagen3.jpg); 
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px blue;
}
/* Fin Tarjetas */

/* COMIENZO Tarjetas BICICLETAS*/
#algunos-modelos .tarjetasbici1{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../biciHome/imagen1.jpg);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px blue;
}
#algunos-modelos .tarjetasbici2{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../biciHome/imagen2.jpg); 
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px blue;
}
#algunos-modelos .tarjetasbici3{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../biciHome/imagen3.jpg); 
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px blue;
}
#algunos-modelos .tarjetasbici4{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../biciHome/imagen3.jpg); 
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px blue;
}
#algunos-modelos .tarjetasbici5{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../biciHome/imagen3.jpg); 
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px blue;
}
#algunos-modelos .tarjetasbici6{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../biciHome/imagen3.jpg); 
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px blue;
}


/* Fin Tarjetas BICILETAS*/

#algunos-modelos .container-tarjetas{
    display: flex;
    justify-content: center;
}

#algunos-modelos p{
    display: block;
    margin-bottom: 30px;
}

#algunos-modelos h3{
    margin-top: 0;
}

#algunos-modelos .container{
    padding: 15px;
}

.caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

.caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
}

.disfruta-ya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:rgb(30,30,30);
    color: white;
    height: 90vh;
}

.disfruta-ya h2{
    font-size: 4vw;
}

.disfruta-ya button{
    font-size: 3vw;
}

footer{
    background-color: rgb(230, 230, 230);
}

footer p{
    margin: 0;
    padding: 50px;
    color:rgb(100, 100, 100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 700px){
    header{
        position: fixed;
        width: 100%;
        margin-block-end: 60px;
    }
    
    header .container-header{
        flex-direction: row;
        justify-content: space-between;
    } 
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    .somos-befreebikes .container{
        display: flex;
        justify-content: space-evenly;
    }

    .somos-befreebikes .somos-texto{
        max-width: 600px;
        padding: 0px 30px;
        width: 50%;
        text-align: initial;
        padding-left: 30px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* .somos-befreebikes h2{
        margin-top: 0px;
    } */

    .somos-befreebikes .img-continer{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url(../imgPortadas/imagen4.jpg);
        background-size: cover;
        background-position: right;
        height: 650px;
        width: 650px;
        position: fixed;
    }
}

/*#################### APLICANDO GRIDS AL INDEX ################### */
.grilla{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer'
    ;
}

/* ####################### APLICANDO GRIDS A LAS SECCIONES DEL INDEX ############ */
.item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: footer;
}
/* ###################### CARDS HTML BEBES ##################################### */

.paddingMain{
    padding-top: 200px;
}

/* .container-fluid .row{
    width: 100%;
    max-width: 1200px;
    height: 430;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.container-fluid .row{ 
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.container-fluid .row:hover{
    transform:scale(105%);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container-fluid .row  img{
    width:auto;
    height: 220px;
}
.container-fluid .row  h4{
    font-weight: 600;
}
.container-fluid .row  p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.container-fluid .row {
    font-weight: 500;
    text-decoration: none;
    color:blue;
} */ 

/* ###### HTML NOSOTROS ###### */

.estilo-nosotros{
    background-image: url(../imgPortadas/puesta\ de\ sol.webp);
    background-position: center center;
    background-size: cover;
    

}

div .estilo-nosotros p{
    font-size: 20px;
    padding-top: 100px;
    color: cornsilk;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
/* ###### FIN HTML NOSOTROS ###### */