.estilo-nosotros{
    background-image: url(../imgPortadas/PuestaDeSol.webp);
    background-position: center center;
    background-size: cover;
    

}

div .estilo-nosotros p{
    font-size: 20px;
    padding-top: 100px;
    color: cornsilk;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}