/*funcionamiento de @each */

.blue{
    color:blue;
}
.yelow{
    color: yellow;
}
.black{
    color: black;
}

@each $color in blue, yellow, black {
    .#{$color}{
        color:#{$color};
    }
}
/*Aca el $ primero se le asigna blue dsps yellow y dsps black y ahi termina pq la condicion de corte es "Termino de recorrer la lista"*/
/*ejemplo del profe Gaston*/

$lista:(10px,20px,50px);

    @each $var in $lista {
        .text-#{$var}{
            font-size: $var;
        }
    }


